@import "tailwindcss";

canvas {
  pointer-events: none;
}
:root {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
/* ===== NAVBAR UNDERLINE HOVER EFFECT ===== */
.nav-underline {
  position: relative;
}

.nav-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 50px;
  height: 2px;
  background-color: #ffab6a;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.50s ease;
}

.nav-underline:hover::after {
  transform: translateX(-50%) scaleX(1);
}
